# https://www.openssl.org/docs/apps/req.html
# "Sample configuration containing all field values"
[ req ]
default_bits		= 4096
default_keyfile		= {{ exim_tls_privatekey }}
distinguished_name	= req_distinguished_name
attributes			= req_attributes
prompt				= no
output_password		= {{ exim_ssl_output_passsword }}

[ req_distinguished_name ]
C					= {{ exim_ssl_country }}
ST					= {{ exim_ssl_state }}
L					= {{ exim_ssl_locality }}
CN					= {{ exim_primary_hostname }}

[ req_attributes ]
challengePassword	= {{ exim_ssl_challenge_password }}

